**__pycache__/
scratch/
**/scratch/
*.egg-info/
**build/
**dist/
# **results/
results/*
runs/*
cache/*
!results/timing/
!results/cost_modeling/
!results/breakdowns/
.env
.envrc
worker_io/

test/lock_test/locks/
log/
figs/
ncu/

.DS_Store

container-images/
data/
local/
