anthropic
modal
numpy
openai
packaging
pydra_config
torch==2.8.0
torch_tensorrt==2.8.0
tensorrt==10.12.0.36
tqdm
datasets
transformers
google-genai
together
pytest
ninja
archon-ai
einops
aiofiles
filelock
diffusers
opt_einsum
flash_attn